.swagger-ui .microlight,
.swagger-ui .highlight-code {
  max-height: none !important;
  overflow: visible !important;
}

.swagger-ui .model-box,
.swagger-ui .model-box-control,
.swagger-ui .model {
  max-height: none !important;
  overflow: visible !important;
}

.swagger-ui .body-param__text,
.swagger-ui .body-param textarea {
  min-height: 520px !important;
  height: auto !important;
  overflow: visible !important;
}

.swagger-ui pre {
  max-height: none !important;
  overflow: visible !important;
}

